[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"
flask = "*"
gunicorn = "*"
psycopg2-binary = "*"
cors = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-migrate = "*"
sqlalchemy-serializer = "==1.4.12"
ipdb = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.12"
